div:nth-child(1) {
  color: blue;
  text-transform: uppercase;
}

div:nth-child(2) {
  color: black;
  text-transform: uppercase;
}

div:nth-child(3) {
  color: green;
  text-transform: uppercase;
}

div:nth-child(4) {
  color: purple;
  text-transform: uppercase;
}
